body {
  font-family: 'Lora';
  background: linear-gradient(white(47, 23, 15, 0.65),white(47, 23, 15, 0.65)), ;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

.heading {
   text-transform: uppercase;
	
}

.text-faded {
  color: white(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

#mainNav {
  background-color:rgba(0, 0, 0, 0.9);
  font-family: 'Raleway';
}

.section-heading {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: white(255, 255, 255, 0.85);
}


.footer {
  background-color: white(47, 23, 15, 0.9);
}

.text-primary {
  color: #e6a756 !important;
}

.font-weight-light {
  font-weight: 100 !important;
}


.bg-primary {
  background-color: #e6a756 !important;
}


.intro {
  position: relative;
}
